@model IEnumerable<QLCuaHang.Models.NhapKho_CT>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HangHoa.TenHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhapKho.NguoiNhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SLNhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DGNhap)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HangHoa.TenHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhapKho.NguoiNhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SLNhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DGNhap)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
