@model IEnumerable<QLCuaHang.Models.HangHoa>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LoaiHang.TenLoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhaCC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DVT)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Donvitinh)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Dongia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiHang.TenLoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhaCC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DVT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Donvitinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dongia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HinhAnh)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaHang }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaHang }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaHang })
        </td>
    </tr>
}

</table>
